@model WebNoiThat.Models.Page

@{
    ViewBag.Title = "Tạo mới pages";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/DataHA/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/DataHA/Adminassets/summernote/summernote.css" rel="stylesheet" />
}
@using (Html.BeginForm("Create", "AdminPages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="text-danger">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</div>
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">THÔNG TIN PAGE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">THÔNG TIN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">MÔ TẢ </a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ProductName">Tên danh mục</label>
                        @Html.TextBoxFor(m => m.PageName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ShortDesc">Ordering</label>
                        @Html.TextBoxFor(m => m.Ordering, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Thumb, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="fThumb" />
                            @Html.ValidationMessageFor(model => model.Thumb, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="m-t-25">
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <div class="checkbox">
                                        <input type="checkbox" id="Published" name="Published" checked value="true">
                                        <label for="Published"></label>
                                    </div>
                                </div>
                                <label>Public</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productSize">Title</label>
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productColors">MetaDesc</label>
                        @Html.TextBoxFor(model => model.MetaDesc, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productFit">MetaKey</label>
                        @Html.TextBoxFor(model => model.MetaKey, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    @Html.TextBoxFor(model => model.Contents, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/DataHA/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/DataHA/Adminassets/js/pages/e-commerce-product-edit.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="~/DataHA/Adminassets/summernote/summernote-bs4.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
