@model WebNoiThat.Models.Page

@{
    ViewBag.Title = "Chi tiết Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="~/Admin/Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Thông tin Page: trang @Model.PageName</span>
        </nav>
    </div>
</div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <a>
                <img width="200" height="200" src="~/DataHA/images/pages/@Model.Thumb" alt="@Model.Title" />
            </a>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.PageName</h4>
                <p class="text-muted m-b-0">ID: #@Model.PageID</p>
            </div>
        </div>
        <div class="m-b-15">
            <a href="@Url.Action("Edit", "AdminPages", new { id = Model.PageID })" class="btn btn-primary">Sửa đổi</a>
        </div>
    </div>
</div>
<h1>Chi tiết</h1>
<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordering)
        </dd>

    </dl>
</div>
